/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Meyer Reset */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: transparent;
}

header .logo {
    display: inline-block;
}

header nav {
    display: inline-block;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    padding: 0 0 0 20px;
    display: inline-block;
}

section.intro {
    background-image: url('images/gp-cover@2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 818px;
    height: 818px;
}

.the-beer {
    display: flex;
}

.the-beer__panel1 {
    background-image: url('images/flavor.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 800px;
    height: 800px;
    flex-grow: 1;
}

.the-beer__panel2 {
    background-image: url('images/abv.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 800px;
    height: 800px;
    flex-grow: 1;
}

.the-beer__panel3 {
    background-image: url('images/aroma.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 800px;
    height: 800px;
    flex-grow: 1;
}

.about {
    background-image: url('images/brewmaster-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px;
}

.about__text-container {
    display: inline-block;
    width: 460px;
    margin-left: 80px;
    padding-top: 15%;
    vertical-align: top;
}

.about__title {
    font-family: 'DIN', sans-serif;
	font-size: 32px;
	font-weight: bold;
	font-stretch: condensed;
	line-height: 1.28;
	letter-spacing: 10.7px;
	text-align: left;
    color: #ffffff;
    margin-bottom: 10px;
}

.about__blurb {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 2.12;
	text-align: left;
	color: #b5b5b5;
	-webkit-text-stroke: 1px #979797;
}

.about__picture {
    background-image: url('images/cyrus-bio-pic.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    /* transform: scale(0.5); */
    display: inline-block;
}

.contact {
    /* background-image: url('images/contact-bg.png'); */
    background-color: #191919;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px;
}

.contact__title {
    font-family: 'DIN', sans-serif;
	font-size: 110px;
	font-weight: bold;
	font-stretch: condensed;
	letter-spacing: 2.8px;
	text-align: left;
    color: #ffffff;
    display: inline-block;
}

.contact__text-container {
    display: inline-block;
    width: 400px;
    margin-left: 150px;
    /* padding-top: 15%;
    vertical-align: top; */
}

.contact__blurb {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 18px;
}

.contact__email {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 20px;
}

footer {
    background-color: #191919;
    padding: 50px 100px 40px 100px;
    position: relative;
}

.government-warning {
    width: 300px;
    display: inline-block;
    margin-right: 40px;
    vertical-align: top;
}

.copyright {
    width: 340px;
    display: inline-block;
    vertical-align: top;
}

.social-media {
    width: 300px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

.social-media i {
    margin-left: 20px;
}

.government-warning__title, .copyright__title {
    font-family: 'DIN', sans-serif;
	font-size: 18px;
	font-weight: bold;
	font-stretch: condensed;
	letter-spacing: 0.4px;
	text-align: left;
    color: #ffffff;
    margin-bottom: 10px;
}

.government-warning__body, .copyright__body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
	text-align: left;
    color: #b5b5b5;
    line-height: 16px;
}

.fa-facebook-official, .fa-twitter, .fa-instagram {
	opacity: 0.5;
	color: #ffffff;
}